:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5)
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sand', sans-serif;
    min-height: 2000px;
}

.hero h1, 
.hero h4 
.hero p {
    text-shadow: var(--shadow);
}

.hero ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg-prewed.jpg);
    z-index: -1;
    background-repeat: no-repeat;

}

.hero {
    position: relative;
    min-height: 100vh;
}

.hero h1 {
    font-family: 'Satisfy', cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--pink);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}


/* Media Query */
/* Laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    .simply-countdown>.simply-section   {
        padding: 70px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }
    .simply-countdown>.simply-section   {
        padding: 60px;
        margin: 5px;
    }
}

/* Mobile Phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }
    .simply-countdown>.simply-section   {
        padding: 45px;
        margin: 3px;
    }
    .hero h4 {
    font-size: 1.9rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.9rem;
}

.simply-countdown {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}

.simply-countdown>.simply-section {
    padding: 45px !important;
    margin: 15px !important;
    width: 36% !important;
    aspect-ratio: 1 !important;
    height: auto !important;
}

.hero a {
    margin-top: 40px;
    font-size: 16px;
}

.hero ::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero ::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: rgba(26,0,22,.4);
    top: 0;
    left: 0;
}
        
    
}
